<!-- <div class="transbox">
  <h1 class="title">{{title}}</h1>
  <input type="text" class="hometxt" /><br/>
  <a routerLink="/shows">
  <button id="btn1" class="btn btn-primary">Browse All Shows</button>
  </a>
  </div> -->

  <div class="container-fluid">
    <div class="transbox">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#" style="color: #0066c0;font-size: 1.2rem; font-weight: 650">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link ro" href="signup">Signup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ro" href="login">Sign In</a>
                  </li>
                </ul>
            </div>
      </nav>
   
  <div class="container-fluid con">
    <div class="row ">
      <div class="col-sm-6" style=" padding: 50px 5%;">
          <h1 class="title">Welcome to Prime Shows</h1>
          <div class="bodyy">
            <p>Join Prime to watch the latest movies, exclusive TV shows as well as award-winning Prime Shows at ₹1999/year only.</p>
          </div>
          <a href="login" class="butt">
              <span class="dv-content">
                  Start a year of Shows at ₹999
              </span>
              <span class="dv-overlay">
              </span>
          </a>
          <div class="dv-merch-bottom">
            <p class="fn">Already a Prime member? Sign in to watch.</p>
          </div>
          <a href="/shows" class="butt">
              <span class="dv-content">
                  Start your Free trail
              </span>
              <span class="dv-overlay">
              </span>
          </a>
      </div>
      <div class="col-sm-6">
       
      </div>
    </div>
  </div>
</div>
</div>